#magnifying-glass-icon {
  border-radius: 0px 6px 6px 0px;
  padding-right: 5px;
  border: 1px solid;
  width: 1.75rem;
}

.search {
  border-radius: 6px 6px 6px 6px;
  width: 65%;
}

.search-bar-form {
  height: 100%;
  width: 100%;
  display: flex;
}

.form--select {
  border-radius: 6px 0px 0px 6px;
  width: 5%;
  border: none;
  border: 1px solid;
}

.search--input {
  height: 2.5rem;
  width: 100%;
  border: none;
  border: 1px solid;
}

@media screen and (max-width: 850px) {
  .search--input {
    border-radius: 6px 0px 0px 6px;
  }

  .form--select {
    display: none;
  }
}
