#magnifying-glass-icon {
  width: 1.75rem;
  border-radius: 0px 6px 6px 0px;
  background-color: whitesmoke;
  padding-right: 5px;
}

.search {
  border-radius: 6px 6px 6px 6px;
  width: 65%;
}

.form {
  height: 100%;
  width: 100%;
  display: flex;
}

.form--select {
  border-radius: 6px 0px 0px 6px;
  width: 5%;
  border: none;
  background-color: whitesmoke;
}

.search--input {
  height: 2.5rem;
  width: 100%;
  border: none;
  background-color: whitesmoke;
}

.search--btn {
  border-radius: 0px 6px 6px 0px;
  padding: 4px 4px 4px 4px;
  word-wrap: break-word;
  max-width: 100%;
}

@media screen and (max-width: 850px) {
  .search--input {
    border-radius: 6px 0px 0px 6px;
  }

  .form--select {
    display: none;
  }
}
