.card {
  border: 1px solid;
  color: black;
  width: 90%;
}

.card__heading {
  text-align: center;
}

.card__img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

.card__info {
  text-decoration: none;
  text-align: center;
}
