.card {
  border: 1px solid;
  color: black;
  width: 90%;
  box-shadow: 0.15rem 0.35rem;
  transition: all ease-in-out 0.5s;
}

.card:hover {
  box-shadow: 0.35rem 0.5rem;
  background-color: whitesmoke;
}

.card__heading {
  text-align: center;
}

.card__img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

.card__info {
  text-decoration: none;
  text-align: center;
}
