*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.75px;
}

.btn {
  background-color: #02020b;
  padding: 1rem;
  color: whitesmoke;
  font-weight: bolder;
  transition: all ease-in-out 0.25s;
}

.btn:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
}

.btn:active {
  background-color: gray;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1%;
  border: 1px solid;
}

@media screen and (max-width: 925px) {
  .item-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 525px) {
  .item-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

a {
  text-decoration: none;
}
